@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {

    /* === Início Login === */
    .bg-login{
        @apply bg-blue-900 min-h-screen flex flex-col justify-center items-center;
    }

    .card-login{
        @apply bg-gray-100 mt-6 w-full overflow-hidden px-6 py-4 shadow-md sm:max-w-md sm:rounded-lg;
    }

    .logo-wrapper-login{
        @apply flex flex-col justify-center;
    }

    .title-login{
        @apply text-2xl font-semibold text-center text-blue-900
    }

    .form-group-login{
        @apply mt-4
    }

    .form-label-login{
        @apply text-gray-600 block text-sm font-medium
    }

    .form-input-login{
        @apply mt-1 block w-full rounded-md border-2 border-gray-200 shadow-sm focus:border-gray-300 focus:ring focus:ring-gray-200 focus:outline-none px-3 py-2
    }

    .btn-group-login{
        @apply mt-4 flex items-center justify-between
    }

    .link-login{
        @apply text-base text-blue-900 hover:no-underline
    }

    /* Container principal */
    .main-container {
        @apply flex flex-col h-screen bg-gray-100
    }

    /* === Início Header === */
    /* Estilização de Header */
    .header {
        @apply bg-blue-700 text-white p-4 w-full
    }

    .content-header {
        @apply mx-auto flex items-center
    }

    .title-logo {
        @apply text-xl font-bold
    }

    .list-nav-link {
        @apply flex space-x-6 ml-6
    }

    .nav-link {
        @apply hover:text-gray-300 transition-colors
    }

    /* === Fim do Header === */

    /* Estilização de Conteudo da Página */

    .content {
        @apply flex-1 px-8 py-6 mx-auto w-full
    }

    .content-title {
        @apply flex justify-between items-center mb-6
    }

    .page-title {
        @apply text-2xl font-bold
    }

    /* === Fim do Conteudo da Página === */

    /* === Início Formulario === */
    .form-container {
        @apply mt-6 bg-white shadow-md rounded-lg p-6
    }

    .form-label {
        @apply block text-sm font-semibold
    }

    .form-input {
        @apply border p-2 w-full mt-1 rounded-md border-blue-100 shadow-sm focus:border-blue-300 focus:ring-blue-200 focus:outline-none
    }

    /* === Fim Formulario === */

    /* === Inicio Formulario de Pesquisa === */

    .form-search{
        @apply pb-3 grid xl:grid-cols-5 md:grid-cols-2 gap-2 items-end
    }

    /* === Fim Formulario de Pesquisa === */

    /* === Início Tabela === */
    .table-container {
        @apply overflow-x-auto bg-white shadow-md rounded-lg
    }

    .table {
        @apply min-w-full border-collapse w-full
    }

    .table-header {
        @apply bg-blue-400 text-white uppercase text-sm leading-normal
    }

    .table-header th {
        @apply py-3 px-6 text-left
    }

    .table-header .center {
        @apply text-center
    }

    .table-body {
        @apply text-gray-700 text-sm font-light
    }

    .table-row {
        @apply border-b border-gray-200 hover:bg-blue-50 transition
    }

    .table-cell {
        @apply py-3 px-6
    }

    .table-actions {
        @apply py-3 px-6 text-center flex space-x-1 justify-center
    }

    /* === Fim Tabela === */

    /* === Inicio Paginação === */

    .pagination {
        @apply mt-2 p-3
    }

    /* === Fim Paginação === */

    /* === Início Botões === */

    /* Botão Azul */
    .btn-primary {
        @apply p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition-colors
    }

    /* Botão Azul Claro */
    .btn-info {
        @apply p-2 bg-cyan-500 text-white rounded-md hover:bg-cyan-600 transition-colors
    }

    /* Botão Verde */
    .btn-success {
        @apply p-2 bg-green-500 text-white rounded-md hover:bg-green-600 cursor-pointer transition-colors
    }

    /* Botão Amarelo */
    .btn-warning {
        @apply p-2 bg-yellow-500 text-white rounded-md hover:bg-yellow-600 cursor-pointer transition-colors
    }

    /* Botão Vermelho */
    .btn-danger {
        @apply p-2 bg-red-500 text-white rounded-md hover:bg-red-600 cursor-pointer transition-colors
    }

    /* === Fim Botões === */

    /* Início Alertas */
    .alert-success {
        @apply p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-100
    }

    .alert-error {
        @apply p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-100
    }

    /* === Fim Alertas === */
}